<div analytics-listener>
  <!-- Navigation bar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
         <h4 class="top-left">Ensighten Dashboard</h4>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <form novalidate class="navbar-form navbar-right" role="form" ng-submit="submit()" ng-controller="signinCtrl">
          <div class="form-group">
            <input type="text" placeholder="Username" class="form-control" ng-model="user.name" required>
          </div>
          <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" ng-model="user.password" required>
          </div>
          <button type="submit" class="btn btn-success" ng-show="!invalid" ng-hide="loader">Sign in</button>
          <img alt="activity indicator" src="//cloud.githubusercontent.com/assets/10219824/8552072/8a303136-24d2-11e5-8c1b-fac9a7bcecac.gif" ng-show="loader">
          <div class="invalid-submit" ng-show="invalid">
            <p>Try again</p>
          </div>
        </form>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
  <!-- Sign in Div -->
  <div class="sign-in">
    <h1 class="centered">Please Sign in..</h1>
    <p class="lead centered">Use your Ensighten log in details</p>
  </div>
</div>
