<div analytics-listener mbox-container>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	       <h4 class="top-left">Ensighten Dashboard</h4>
	    </div>
	  </div>
	</nav>
	<div class="container">
		<br>
		<a href="#/tags/">Back to tag list</a>
		<h3>Tag code for {{tag.name}}</h3>
		<pre><code id="code" highlight-js class="js">{{tag.code}}</code></pre>
	</div>
</div>
