/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.centered {
    width: 35%;
    margin: 0 auto;
    text-align: center;
}
.sign-in {
	margin-top: 15%;
}
.main-content, .table-responsive {
	margin-top: 2%;
}
select.form-control {
	width: 40%;
	display: inline-block;
}
.run-btn {
	display: inline-block;
	margin-bottom: 0.3%;
	margin-left: 1%;
}
h4.top-left {
	color: grey;
	margin-top: 14px;	
	margin-left: 15px;
}
pre, #code {
	background: #F9F9F9;
}
.comments-column {
	width: 15%;
}
.code-column {
	width: 20%;
}
.invalid-submit {
	color: rgb(255, 60, 60);
	display: inline-block;
	margin-right: 10px;
}
.invalid-submit p {
	margin-bottom: 0px;
}
.search-box {
	width: 25%;
	display: inline;
}
#sort-by {
	width: 13%;
}
.table {
 margin-top: 30px;
}
.table-loader {
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
}
