body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(https://d2k1ftgv7pobq7.cloudfront.net/images/backgrounds/subtle-irongrip.png);
  color: rgb(171, 171, 171);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input button {
    color: rgb(68, 55, 55)
}
select, #getCode, option {
	color:black;
}
h1 {
	margin-left: 10%;
}
#TagDetails {
	width: 35%;
	margin-left: 5%;
}

.main-left {
	padding-left: 10%;
}

.main-right {
	padding-left: 10%;
}

.tag-data-btn {
	padding-left: 10%;
}
.numTags {
	padding-left: 10%;
}
#TagsRight {
	float:right;
	width: 35%;
	margin-right: 5%;
	margin-top: -50px;
}

#compareTags {
	color: black;
}
