body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background: #eee;*/
  /*color: #444;*/
}
#wrap {
  margin: 0 auto;
  width: 96%;
  max-width: 960px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input button {
    color: rgb(68, 55, 55)
}
select, #getCode, option {
	color:black;
}
h1 {
  margin-bottom: 40px;
}
#TagDetails {
  margin-top: 25px;
}

.half {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}

/*label {*/
/*  width: 15%;*/
/*}*/
select {
  width: 70%;
}

.tag-data-btn {
  float: right;
}
input[type=button] {
  background: #444;
  color: #eee!important;
  border: none;
  padding: 5px 10px;
}
input[type=button]:hover {
  background: #666;
}
.numTags {

}
#TagsRight {
	float:right;
	width: 35%;
	margin-right: 5%;
	margin-top: -50px;
}

#compareTags {
	color: black;
}
.spinner {
  margin-left: 50%;
  margin-top: 81px;
}
.tag-name:hover {
  text-decoration: : underline;
  color: #E08046;
  cursor: pointer;
}
.left-code {
    width:48%;
    float: left;
}
.right-code {
    width:48%;
    float: right;
}

.half .form-control {
    width: 90%;
}
